{% extends "taskmaster/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div id="body" class="overlay" style="background-color: white;">
	<div class="detailcontainer" style="left: 50%; transform: translateX(-50%); top: 30px; width: 340px;">
		<div class="detail low" style="display: block;">
			<div class="label normal_text" style="margin-bottom: 8px;">Password Reset Confirm</div>
			<p>Please enter your new password.</p>

			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="button label normal_text" type="submit">Reset password</button>
			</form>

			{% if messages %}
			{% for message in messages %}
			<div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
