{% extends "taskmaster/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div id="body" class="overlay auth_layout">
	<div class="detailcontainer auth_panel_container">
		<div class="detail low auth_panel">
			<div class="label normal_text panel_title">Password Reset Confirm</div>
			<p>Please enter your new password.</p>

			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="button label normal_text" type="submit">Reset password</button>
			</form>

			{% if messages %}
			{% for message in messages %}
			<div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
