<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Enter new task
        </title>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'taskmaster/style.css' %}">
    <script type="text/javascript">
        
        // Change the color of the background with the importance selector
        function change_importance() {
            var importance = document.getElementById("importance").value;
            var detail = document.getElementById("detail")
            detail.classList.remove("low");
            detail.classList.remove("medium");
            detail.classList.remove("high");
            if (importance == 0)
                detail.classList.add("low");
            else if (importance == 1)
                detail.classList.add("medium");
            else
                detail.classList.add("high");
        }

        // If any change is made, then raise the flag
        function changed() {
            document.getElementById("changes_made").value = 1;
        }

        // Prevent a user from leaving site with unsaved changes
        function unsaved_changes() {
            if (document.getElementById("changes_made").value > 0)
                return confirm("You have unsaved changes.  Are you sure you wish to exit?");
            else
                return true;
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="body">
            <div class="links">
                <div class="link">
                    <a href="{% url 'taskmaster:index' %}" onclick="return unsaved_changes();">
                        <div class="label">Home</div>
                    </a>
                </div>
            </div>
            <div class="column" style="border-right: 0;">
                <h1>Edit Task Details</h1>
                <form action="{% url 'taskmaster:save' %}" method="POST">
                    <input type="hidden" name="pk" id="pk" value="{{ object.pk }}">
                    <div id="detail" class="detail{% if object.importance == 2 %} high{% elif object.importance == 0 %} low{% else %} medium{% endif %}">
                        <input type="text" id="short_desc" name="short_desc" placeholder="Title" value="{{ object.short_desc }}" onChange="changed();" required>
                        <input type="date" id="due_date" name="due_date" value="{{ object.due_date|date:'Y-m-d' }}" onChange="changed();">
                        <input type="time" id="due_time" name="due_time" value="{{ object.due_time|time:'H:i' }}" onChange="changed();">
                        <select name="importance" id="importance" onChange="change_importance(); changed();">
                            <option value="0"{% if object.importance == 0 %} selected{% endif %}>Low Importance</option>
                            <option value="1"{% if object is Null or object.importance == 1 %} selected{% endif %}>Medium Importance</option>
                            <option value="2"{% if object.importance == 2 %} selected{% endif %}>High Importance</option>
                        </select>
                        <select name="urgency" id="urgency" onChange="changed();">
                            <option value="0"{% if object.urgency == 0 %} selected{% endif %}>Low Urgency</option>
                            <option value="1"{% if object is Null or object.urgency == 1 %} selected{% endif %}>Medium Urgency</option>
                            <option value="2"{% if object.urgency == 2 %} selected{% endif %}>High Urgency</option>
                        </select>
                        <textarea id="long_desc" name="long_desc" placeholder="Description" onChange="changed();">{% if object.long_desc == Null %}{% else %}{{ object.long_desc }}{% endif %}</textarea>
                        <div class="buttons">
                            <div class="button">
                                <input type="submit" name="action" value="Save">
                            </div>
                        {% if object != Null %}
                            <div class="button">
                                <input type="submit" name="action" value="Delete" onClick="return confirm('Are you sure you want to delete this task?');">
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <input type="hidden" id="changes_made" value="0">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </body>
</html>
