{% extends "taskmaster/header.html" %}

{% block content %}

{% if user.is_authenticated %}
<div id="body">
    <div class="column high">
        <h1>Very Urgent!</h1>
        {% for task in high_urgency %}
        {% include "taskmaster/tasks.html" %}
        {% empty %}
        <h2>No tasks</h2>
        <div class="task" style="visibility: hidden;"></div>
        {% endfor %}
    </div>
    <div class="column medium">
        <h1>Urgent</h1>
        {% for task in med_urgency %}
        {% include "taskmaster/tasks.html" %}
        {% empty %}
        <h2>No tasks</h2>
        <div class="task" style="visibility: hidden;"></div>
        {% endfor %}
    </div>
    <div class="column low">
        <h1>Not Urgent</h1>
        {% for task in low_urgency %}
        {% include "taskmaster/tasks.html" %}
        {% empty %}
        <h2>No tasks</h2>
        <div class="task" style="visibility: hidden;"></div>
        {% endfor %}
    </div>
    <div class="links">
        <div id="new" class="button navigation" onclick="show_new();">
            <div class="label normal_text">Add New Task</div>
        </div>
        <a class="buttonlink" href="{% url 'taskmaster:purge' %}" onClick="return confirm('Are you sure you want to delete these tasks?');">
            <div id="purge" class="button navigation">
                <div class="label normal_text">Delete Completed Tasks</div>
            </div>
        </a>
        <a class="buttonlink" href="{% url 'taskmaster:logout' %}">
            <div id="logout" class="button navigation">
                <div class="label normal_text">Logout</div>
            </div>
        </a>
        <div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="new_task" class="backdrop">
        <div class="detailcontainer">
            <form action="{% url 'taskmaster:save' %}" method="POST">
                <div id="detail" class="detail medium">
                    <input type="text" class="task_input full_width" id="short_desc" name="short_desc" placeholder="Title" required>
                    <input type="date" class="task_input full_width no_bottom" id="due_date" name="due_date">
                    <input type="time" class="task_input full_width" id="due_time" name="due_time">
                    <select class="task_input no_bottom full_width" name="importance" id="importance" onChange="change_importance('');">
                        <option value="0">Low Importance</option>
                        <option value="1" selected>Medium Importance</option>
                        <option value="2">High Importance</option>
                    </select>
                    <select class="task_input full_width" name="urgency" id="urgency">
                        <option value="0">Low Urgency</option>
                        <option value="1" selected>Medium Urgency</option>
                        <option value="2">High Urgency</option>
                    </select>
                    <textarea class="task_input full_width" id="long_desc" name="long_desc" placeholder="Description"></textarea>
                    <div class="table full_width no_bottom">
                        <div class="table-cell no_bottom">
                            <input class="button label small_text no_bottom center" type="submit" name="action" value="Save">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="changes_made" value="0">
                {% csrf_token %}
            </form>
        </div>
    </div>
    {% for task in all_tasks %}
    <div id="{{ task.id }}" class="backdrop">
        <div class="detailcontainer">
            <form action="{% url 'taskmaster:save' %}" method="POST">
                <input type="hidden" name="pk" id="pk" value="{{ task.pk }}">
                <div id="detail{{ task.pk }}" class="detail{% if task.importance == 2 %} high{% elif task.importance == 0 %} low{% else %} medium{% endif %}">
                    <input type="text" class="task_input full_width" id="short_desc{{ task.pk }}" name="short_desc" placeholder="Title" value="{{ task.short_desc }}" required>
                    <input type="date" class="task_input full_width no_bottom" id="due_date{{ task.pk }}" name="due_date" value="{{ task.due_date|date:'Y-m-d' }}" >
                    <input type="time" class="task_input full_width" id="due_time{{ task.pk }}" name="due_time" value="{{ task.due_time|time:'H:i' }}">
                    <select class="task_input no_bottom full_width" name="importance" id="importance{{ task.pk }}" onChange="change_importance({{ task.pk }});">
                        <option value="0"{% if task.importance == 0 %} selected{% endif %}>Low Importance</option>
                        <option value="1"{% if object is Null or task.importance == 1 %} selected{% endif %}>Medium Importance</option>
                        <option value="2"{% if task.importance == 2 %} selected{% endif %}>High Importance</option>
                    </select>
                    <select class="task_input full_width" name="urgency" id="urgency{{ task.pk }}">
                        <option value="0"{% if task.urgency == 0 %} selected{% endif %}>Low Urgency</option>
                        <option value="1"{% if object is Null or task.urgency == 1 %} selected{% endif %}>Medium Urgency</option>
                        <option value="2"{% if task.urgency == 2 %} selected{% endif %}>High Urgency</option>
                    </select>
                    <textarea class="task_input full_width" id="long_desc{{ task.pk }}" name="long_desc" placeholder="Description">{% if task.long_desc == Null %}{% else %}{{ task.long_desc }}{% endif %}</textarea>
                    <div class="table full_width no_bottom">
                        <div class="table-cell no_bottom">
                            <input class="button label small_text no_bottom center" type="submit" name="action" value="Save">
                        </div>
                        <div class="table-cell">
                            <input class="button label small_text no_bottom center" type="submit" name="action" value="Delete" onClick="return confirm('Are you sure you want to delete this task?');">
                        </div>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}

{% load static %}

<div id="body" class="overlay" style="background-image: url('{% static 'taskmaster/logo.png' %}');">
    <div class="title">Task Master</div>
    <div class="subtitle">An application from <a href="https://spiffindustries.com/">Spiff Industries</a></h2></div>
    <div class="links">
        <a class="buttonlink" href="{% url 'taskmaster:login' %}">
            <div id="login" class="button navigation">
                <div class="label normal_text">Login</div>
            </div>
        </a>
        <a class="buttonlink" href="{% url 'taskmaster:register' %}">
            <div id="register" class="button navigation">
                <div class="label normal_text">Register</div>
            </div>
        </a>
        <div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}