{% extends "taskmaster/header.html" %}

{% block content %}

{% if user.is_authenticated %}
<div id="body">
    <div class="column high">
        <h1>Very Urgent!</h1>
        {% for task in high_urgency %}
        {% include "taskmaster/tasks.html" %}
        {% empty %}
        <h2>No tasks</h2>
        <div class="task" style="visibility: hidden;"></div>
        {% endfor %}
    </div>
    <div class="column medium">
        <h1>Urgent</h1>
        {% for task in med_urgency %}
        {% include "taskmaster/tasks.html" %}
        {% empty %}
        <h2>No tasks</h2>
        <div class="task" style="visibility: hidden;"></div>
        {% endfor %}
    </div>
    <div class="column low">
        <h1>Not Urgent</h1>
        {% for task in low_urgency %}
        {% include "taskmaster/tasks.html" %}
        {% empty %}
        <h2>No tasks</h2>
        <div class="task" style="visibility: hidden;"></div>
        {% endfor %}
    </div>
    <div class="links">
        <a class="buttonlink" href="{% url 'taskmaster:new' %}">
            <div id="new" class="button navigation">
                <div class="label normal_text">Add New Task</div>
            </div>
        </a>
        <a class="buttonlink" href="{% url 'taskmaster:purge' %}" onClick="return confirm('Are you sure you want to delete these tasks?');">
            <div id="purge" class="button navigation">
                <div class="label normal_text">Delete Completed Tasks</div>
            </div>
        </a>
        <a class="buttonlink" href="{% url 'taskmaster:logout' %}">
            <div id="logout" class="button navigation">
                <div class="label normal_text">Logout</div>
            </div>
        </a>
        <div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% else %}

{% load static %}

<div id="body" class="overlay" style="background-image: url('{% static 'taskmaster/logo.png' %}');">
    <div class="title">Task Master</div>
    <div class="subtitle">An application from <a href="https://spiffindustries.com/">Spiff Industries</a></h2></div>
    <div class="links">
        <a class="buttonlink" href="{% url 'taskmaster:login' %}">
            <div id="login" class="button navigation">
                <div class="label normal_text">Login</div>
            </div>
        </a>
        <a class="buttonlink" href="{% url 'taskmaster:register' %}">
            <div id="register" class="button navigation">
                <div class="label normal_text">Register</div>
            </div>
        </a>
        <div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}