{% extends "taskmaster/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
    <h1>Task Master</h1>
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="button label normal_text" style="float: left;" type="submit">Login</button>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <input type="hidden" name="action" value="validate_captcha">
    </form>
    <p>Forgot your password? <a href="{% url 'taskmaster:password_reset' %}">Reset it here</a>.</p>
    <p>Don't have an account? <a href="{% url 'taskmaster:register' %}">Create an account</a>.</p>
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}