    <div class="task {% if task.importance == 0 %}low{% elif task.importance == 1 %}medium{% else %}high{% endif %}" id="task{{ task.pk }}">
        <input type="checkbox"{% if task.completed %} checked{% endif %} onchange="location.href='{% url 'taskmaster:toggle' task.id %}';">
        <div class="label" id="label{{ task.pk }}" data-value="{{ task.short_desc }}" onClick="expand('{{ task.pk }}');">
            &#8862; {{ task.short_desc }}
        </div>
        <div class="details" id="details{{ task.pk }}">
            {% if task.due_date != Null %}<b>Due: </b>{{ task.formatted_due_date }}{% if task.due_time != Null %} {{ task.due_time }}{% endif %}<br>{% endif %}
            {% if task.long_desc != Null %}{{ task.long_desc }}{% endif %}
            {% if task.due_date == Null and task.long_desc == Null %}No information{% endif %}
        </div>
        <div class="edit button" style="display: none;" id="edit{{ task.pk }}" onclick="show_task({{ task.pk }});">
            <div class="label small_text">Edit</div>
        </div>
    </div>