{% extends "taskmaster/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register Password-->
<div class="container py-5">
	<h1>Task Master</h1>
	<h2>Register - Step 2 of 2</h2>
	<p>Create and confirm your password.</p>
	<form method="POST">
		{% csrf_token %}
		{{ password_form|crispy }}
		<button class="button label normal_text" style="float: left;" type="submit">Create Account</button>
	</form>
	<p><a href="{% url 'taskmaster:register' %}">Back to step 1</a></p>
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
