{% extends "taskmaster/header.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1>Task Master</h1>
    <h2>Register</h2>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="button label normal_text" style="float: left;" type="submit">Register</button>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <input type="hidden" name="action" value="validate_captcha">
	</form>
	<p>If you already have an account, <a href="{% url 'taskmaster:login' %}">login</a> instead.</p>
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}