{% extends "taskmaster/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div id="body" class="overlay auth_layout">
    <div class="detailcontainer auth_panel_container">
        <div class="detail medium auth_panel">
            <div class="label normal_text panel_title">Register - Step 1 of 2</div>
            <p>Enter your email address.</p>

            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}
                <div class="cf-turnstile" data-sitekey="{{ TURNSTILE_site_key }}" data-action="signup"></div>
                <button class="button label normal_text" type="submit">Continue</button>
            </form>

            <p>If you already have an account, <a href="{% url 'taskmaster:login' %}">login</a> instead.</p>

            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-dark{% endif %}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}